{% extends 'core/base.html' %}

{% load static %} <!-- Agregar esta línea para cargar los archivos estáticos -->

{% block title %}Order Confirmation{% endblock %}

{% block content %}
<!-- Cargar las fuentes de Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Quattrocento&display=swap" rel="stylesheet">

<!-- Estilos internos -->
<link rel="stylesheet" type="text/css" href="{% static 'cart/css/order_confirmation.css' %}">

<div class="confirmation-container">
    <h1>Order Confirmed</h1>
    <p>Thank you for your order, {{ request.user.username }}!</p>

    <!-- Flujo de estado -->
    <div class="status-flow {% if order.status == 'Cancelled' %}cancelled{% elif order.status == 'Delivered' %}delivered{% elif order.status == 'In Progress' %}in-progress{% elif order.status == 'Pending' %}pending{% endif %}">
        <div>
            <div class="status-ball {% if order.status == 'Pending' or order.status == 'In Progress' or order.status == 'Delivered' %}active pending{% elif order.status == 'Cancelled' %}cancelled{% endif %}">1</div>
            <p class="status-label">Pending</p>
        </div>
        <div>
            <div class="status-ball {% if order.status == 'In Progress' or order.status == 'Delivered' %}active in-progress{% elif order.status == 'Cancelled' %}cancelled{% endif %}">2</div>
            <p class="status-label">In Progress</p>
        </div>
        <div>
            <div class="status-ball {% if order.status == 'Delivered' %}active delivered{% elif order.status == 'Cancelled' %}cancelled{% endif %}">3</div>
            <p class="status-label">{% if order.status == 'Cancelled' %}Cancelled{% else %}Delivered{% endif %}</p>
        </div>
    </div>

    <!-- Detalles del pedido -->
    <div class="order-details">
        <h3>Order Details:</h3>
        {% for item in order.order_items.all %}
        <div class="order-item-card">
            <div class="order-item-details">
                <p class="order-item-name">{{ item.recipe.name }}</p>
                <p class="order-item-quantity">Quantity: {{ item.quantity }}</p>
            </div>
            <p class="order-item-price">${{ item.total_price|floatformat:2 }}</p>
        </div>
        {% endfor %}
    </div>

    <h3>Total: ${{ order.total_price|floatformat:2 }}</h3>

    <!-- Botón de Order History -->
    <a href="{% url 'order_history' %}" class="order-history-btn">
        <button class="btn-order-history">View Order History</button>
    </a>
</div>

{% endblock %}

