{% extends 'core/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'authentication/css/login.css' %}"><main class="login-main">
<main class="login-main">
    <form method="post" class="login-container">
        {% csrf_token %}
        <h1 class="login-title">Change Password</h1>

        <!-- Mostrar mensajes de error o éxito -->
        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <!-- Campo de Email -->
        <div class="form-group">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                class="form-input" 
                placeholder="Ingresa tu correo electrónico" 
                required>
        </div>

        <!-- Campo de Teléfono -->
        <div class="form-group">
            <label for="phone_number" class="form-label">Número de Teléfono:</label>
            <input 
                type="text" 
                id="phone_number" 
                name="phone_number" 
                class="form-input" 
                placeholder="Ingresa tu número de teléfono" 
                required>
        </div>

        <!-- Campo de Nueva Contraseña -->
        <div class="form-group">
            <label for="new_password" class="form-label">Nueva Contraseña:</label>
            <input 
                type="password" 
                id="new_password" 
                name="new_password" 
                class="form-input" 
                placeholder="Ingresa tu nueva contraseña" 
                required>
        </div>

        <!-- Confirmar Nueva Contraseña -->
        <div class="form-group">
            <label for="confirm_password" class="form-label">Confirmar Contraseña:</label>
            <input 
                type="password" 
                id="confirm_password" 
                name="confirm_password" 
                class="form-input" 
                placeholder="Confirma tu nueva contraseña" 
                required>
        </div>

        <!-- Botón de Cambio de Contraseña -->
        <button type="submit" class="login-button">Cambiar Contraseña</button>
    </form>
</main>
{% endblock %}
