{% extends 'core/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'authentication/css/login.css' %}"><main class="login-main">
    <form method="post" class="login-container">
        {% csrf_token %}
        <h1 class="login-title">Sign up for Little Italy</h1>

        <!-- Mostrar mensajes de error o éxito -->
        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <!-- Campo de Nombre de Usuario -->
        <div class="form-group">
            <label for="username" class="form-label">Nombre de Usuario:</label>
            <input 
                type="text" 
                id="username" 
                name="username" 
                class="form-input"
                placeholder="Ingresa tu nombre de usuario" 
                required>
        </div>

        <!-- Campo de Email -->
        <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                class="form-input"
                placeholder="Ingresa tu email" 
                required>
        </div>

        <!-- Campo de Contraseña -->
        <div class="form-group">
            <label for="password" class="form-label">Contraseña:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                class="form-input"
                placeholder="Ingresa tu contraseña" 
                required>
        </div>

        <!-- Campo de Teléfono -->
        <div class="form-group">
            <label for="phone_number" class="form-label">Teléfono:</label>
            <input 
                type="text" 
                id="phone_number" 
                name="phone_number" 
                class="form-input"
                placeholder="Ingresa tu número de teléfono">
        </div>

        <!-- Botón de Registro -->
        <button type="submit" class="login-button">Registrarse</button>
    </form>
</main>
{% endblock %}
